
<div class="row">
	<div class="col-md-8">
		<h1>Meditations</h1>
	</div>
	<div class="col-md-4">
		<%= button_to "Log out", '/logout', method: :post%>
	</div>
</div>

<p>
<%= link_to "Download CSV", meditations_path(format: "csv") %>
</p>

	<table class="table table-striped">
		<tr>
			<th>Participant Email Address</th>
     		<th>Date and Time</th>
			<th>Emotions (up to 5)</th>
			<th>Meditation Name</th>
			<th>Stress Rating (0-10) Before</th>
			<th>Stress Rating (0-10) After</th>
		</tr>

		<% @meditations.each do |meditation|%>
			<tr>
                <td><%= meditation.user %></td>
                <td><%= meditation.datetime %></td>
                <td><%= meditation.emotions %></td>
                <td><%= meditation.meditation %></td>
                <td><%= meditation.stresslevelbefore %></td>
                <td><%= meditation.stresslevelafter %></td>
			</tr>
		<% end %>

	</table>